.username {
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.message-head {
    display: inline-block;
}

.timestamp {
    float: left;
    font-size: 12px;
    margin-top: 4px;
    color: rgb(0,0,0,0.3)
}

.messaage-content {    
    margin-bottom: 10px;
}