
.channel-list {
    background-color: var(--purple);
    float: left;
    padding: 20px;
    height: 100vh;
    width: 300px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
}

.channel-link {
    color: var(--white);
    margin: 8px;
    font-weight: 300;
}

.channel-link:hover {
    background-color: var(--white-transparent);
    cursor: pointer;
}

.unread-channel {
    font-weight: bolder;
}

.channel-title {
    color: var(--white);
}

.company-name {
    color: var(--white);
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
}

.total-unread {
    color: var(--white);
    background-color: #ff0000;
    margin-left: 5px;
    display: inline-block;
}